body {
    background-color: black;
    color: aliceblue;
}
button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffbdca;
    font-size: 20px;
    border-radius: 10px;
}
ul {
    list-style-type: disc;
    padding-left: 20px; /* Добавляет небольшой отступ слева для выравнивания с текстом */
  }
  
  h1, h3 {
    margin: 0; /* Убирает отступы у заголовков */
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#ffbdca;
  }

  nav li {
    float: left;
  }

  nav li a {
    display: block;
    color: black; /* Цвет текста */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, sans-serif; /* Обычный шрифт */
  }

  nav li a:hover {
    background-color: #111;
    color: white; /* Цвет текста при наведении */
  }
  img {
    position: relative;
    left: 900px; /* сдвиг вправо */
    margin-top: -150px;
  }
  .block {
    font-family: Arial, sans-serif; /* Замените "Arial" на желаемый шрифт */
    line-height: 1.5;
  }