body {
    background-color: black;
    color: aliceblue;
}
button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffbdca;
    font-size: 20px;
    border-radius: 10px;
}
ul {
    list-style-type: disc;
    padding-left: 20px; /* Добавляет небольшой отступ слева для выравнивания с текстом */
  }
  
  h1, h3 {
    margin: 0; /* Убирает отступы у заголовков */
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#ffbdca;
  }

  nav li {
    float: left;
  }

  nav li a {
    display: block;
    color: black; /* Цвет текста */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, sans-serif; /* Обычный шрифт */
  }

  nav li a:hover {
    background-color: #111;
    color: white; /* Цвет текста при наведении */
  }
  
  .block {
    font-family: Arial, sans-serif; /* Замените "Arial" на желаемый шрифт */
    line-height: 1.5;
  }
  .block_main
  {
    width: 150px;
    height: 150px;
    background: red;
    margin: 5px;
  }
  .block_2{
    position: relative;
    margin-left: 160px;
    margin-top: -155px;
    
  }
  
  .block_3{
    position: relative;
 
    
  }
  .block_4{
    position: relative;
    margin-left: 160px;
    margin-top: -155px;
  }
  .block_main img {
    width: 100%; /* Make the image width 100% of its parent container */
    height: 100%; /* Make the image height 100% of its parent container */
    object-fit: cover; /* This property specifies how the contents of the replaced element should be resized to fit its container */
}
  .main_content {
    display: flex;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

.leftside_content {
  flex: 1;
  background-color: rgb(0, 0, 0);
}

.rightside_content {
  flex: 1;
  background-color: lightgreen;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rightside_content img {
  max-height: 100%;
}
